/* Mulish font from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Merriweather:wght@400;700;900&family=Mulish:wght@400;500;600;700;800&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;600;700;800&display=swap');

* {
              font-family: 'Mulish', sans-serif;
}

body {
              margin: 0px;
}

main {
              margin-left: 135px;
              margin-right: 135px;
              margin-bottom: 20px;
}

/* header section */
header {
              margin: 50px 135px;
              margin-bottom: 0;
}

header nav {
              display: flex;
              justify-content: space-between;
}

.nav-img {
              width: 48px;
              height: 56px;
}

nav>ul {
              display: flex;

}

nav li {
              list-style: none;
}

nav li a {
              text-decoration: none;
              margin-right: 44px;
              color: #424247;
              font-size: 18px;
              font-weight: 400;
}

nav li a .home {
              color: #FF5400;
}

.nav-title {
              font-size: 2.1rem;
              font-weight: 800;
              margin: 0;
}

.nav-title .unexpected {
              color: #131318;
}

.nav-title .travel {
              color: #FF5400;
}

/* banner-section */

.banner {
              text-align: center;
              width: 100%;
              height: 500px;
              margin-top: 50px;
              border-radius: 16px;
              background-repeat: no-repeat;
              background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
}

.banner-heading {
              color: #FFF;
              font-size: 4rem;
              font-weight: 800;
              padding-top: 105px;
              margin: 0px;
}

.banner-description {
              color: #FFF;
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
              padding-top: 25px;
              margin: 0px;
}

.input-field-container {
              display: flex;
              padding: 1rem;
              margin: 48px 185px;
              gap: 24px;
              justify-content: center;
              border-radius: 8px;
              background: rgba(255, 255, 255, 0.30);
}

.input-field-container input,
select {
              width: 174px;
              height: 52px;
              border-radius: 8px;
              background: #FFF;
              border: 0;
              padding-left: 10px;
}

.input-field-container button {
              border-radius: 8px;
              background: #FF5400;
              width: 174px;
              height: 52px;
              border: 0;

}

.button-name {
              color: #FFF;
              text-align: center;
              font-size: 1rem;
              font-weight: 700;
              padding-top: 16px;
}

/* Our Popular Tour */

.our-popular-tour {
              display: flex;
              justify-content: space-between;
              margin-top: 100px;
              gap: 50px;
}

.tour-heading {
              color: #131318;
              font-size: 2.5rem;
              font-weight: 800;
              margin: 0;
}

.tour-description {
              color: #5A5A5D;
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
}

.our-popular-tour li {
              color: #5A5A5D;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
}

.tour-button {
              width: 174px;
              height: 52px;
              border-radius: 8px;
              background: #FF5400;
              border: 0;
              color: #FFF;
              font-size: 20px;
              font-weight: 800;
}

.tour-img {
              width: 540px;
              border-radius: 16px;
              background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* your-destination */

.destination-text {
              text-align: center;
              margin-top: 100px;
}

.destination-heading {
              color: #131318;
              font-size: 2.5rem;
              font-weight: 800;
              margin: 0;
}

.destination-description {
              color: rgba(19, 19, 24, 0.70);
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
              margin-top: 24px;
              margin-bottom: 0;
}

.destination-img img {
              height: 100%;
              width: 100%;
}

.row {
              height: 300px;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 24px;
              margin-top: 24px;

}

.row1 {
              height: 300px;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 24px;
              margin-top: 24px;
              margin-bottom: 80px;
}
.maldives{
               color: white; 
              font-weight: 800;
              font-size: 28;
              position: absolute;
              top: 1750px;
              right: 900px;
}
.indonesia{
              position: absolute;
              top: 1750px;
              right: 350px;
              color: white;
              font-weight: 800;
              font-size: 28;
}
.srilanka{
              color: white;
              position: absolute;
              top: 2100px;
              right: 1000px; 
}
.north-america{
              color: white;
              position: absolute;
              top: 2100px;
              right: 600px;
}
.kashmir{
              color: white;
              position: absolute;
              top: 2100px;
              right: 270px; 
}
.bandarban{
              color: white;
              position: absolute;
              top: 2470px;
              right: 350px;
}
.bangladesh{
              color: white;
              position: absolute;
              top: 2470px;
              right: 900px;
}

/* why choose us section */
.choose-article {
              text-align: center;
              margin-top: 100px;
}

.choose-heading {
              color: #131318;
              font-size: 40px;
              font-weight: 800;
}

.choose-description {
              color: rgba(19, 19, 24, 0.70);
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
}

.card-container {
              margin-top: 48px;
              display: flex;
              gap: 24px;
}

.card1 {
              border-radius: 16px;
              border: 1px solid rgba(251, 181, 99, 0.20);
              background: rgba(251, 181, 99, 0.05);
              padding: 20px;
}

.card1-img {
              width: 64px;
              height: 64px;
}

.card-container h4 {
              color: #131318;
              font-size: 24px;
              font-weight: 800;
}

.card-container p {
              color: #5A5A5D;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
}

.card2 {
              border-radius: 16px;
              border: 1px solid rgba(41, 206, 246, 0.20);
              background: rgba(41, 206, 246, 0.05);
              padding: 20px;
}

.card2-img {
              width: 64px;
              height: 64px;
}

.card3 {
              border-radius: 16px;
              border: 1px solid rgba(233, 68, 68, 0.20);
              background: rgba(233, 68, 68, 0.05);
              padding: 20px;
              width: 573px;
              height: 284px;
              margin-top: 24px;
              margin-left: 220px;

}

.card3 h4 {
              color: #131318;
              font-size: 1.5rem;
              font-weight: 800;
}

.card3 p {
              color: #5A5A5D;
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
}

.card3-img {
              width: 64px;
              height: 64px;
}

/* bonous section */

.bonous{
              border: 2px solid red;
              margin-top: 100px;
              padding: 20px;
              height: 300px;
              background-color: aquamarine;
}
.bonous h3{
              font-size: 2rem;
              font-weight: 600;
}
.bonous input, select{
              width: 174px;
              height: 52px;
              border-radius: 8px;
              background: #FFF;
              border: 0;
              padding-left: 10px;
              border: 1px solid;
}
.bonous button{
              border-radius: 8px;
              background: #FF5400;
              width: 174px;
              height: 52px;
              border: 0;
              padding: 10px;
}
.bonous .button-name{
              color: #FFF;
              text-align: center;
              font-size: 1rem;
              font-weight: 700;
              padding-top: 16px;
}

/* news-letter section */

.news-letter {
              display: flex;
              gap: 24px;
              margin-top: 100px;
              margin-bottom: 100px;
}

.news-field {
              width: 474px;
              height: 422px;
              border-radius: 16px;
              border: 1px solid #FF5400;
              padding: 35px;
}

.news-field h4 {
              color: #131318;
              font-size: 1.5rem;
              font-weight: 800;
              margin-bottom: 24px;
}

.news-field p {
              color: #5A5A5D;
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
              margin-bottom: 24px;
}

.news-letter img {
              margin-top: 0;
              width: 672px;
              height: 493px;
              position: relative;              
}

.news-letter input {
              margin-bottom: 24px;
              width: 300px;
              height: 52px;
              border: 0;
              border-radius: 8px;
              padding-left: 10px;
              background: rgba(19, 19, 24, 0.05);
}

.news-letter .hr-line {
              background: rgba(19, 19, 24, 0.10);
              height: 0.1px;
              margin-top: 24px;
              margin-bottom: 24px;
}

.news-letter button {
              margin-bottom: 24px;
              width: 310px;
              height: 52px;
              border: 0;
              border-radius: 8px;
              background: #FF5400;
              color: #FFF;
}

.rotate p {
              width: 324px;
              height: 120px;
              padding-top: 20px;
              text-align: center;
              border-radius: 16px;
              background: #FF5400;
              transform: rotate(-19.628deg);
              position: relative;
              left: 338px;
              bottom: 209px;
}

.rotate .travel-com {
              color: #FFF;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 400;
}

.rotate .save-up-to {
              color: #FFF;
              font-size: 2rem;
              font-weight: 800;
}

/* footer section */

footer {
              margin: 0px;
              width: 1440px;
              height: 450px;
              text-align: center;
              background: rgba(19, 19, 24, 0.05);
              padding-top: 110px; 
}

.foot-head {
              display: flex;
              gap: 16px;
              justify-content: center;

}

.footer-icon {
              display: flex;
              justify-content: center;
              margin-top: 33px;
              gap: 24px;
}

.footer-icon img {
              height: 30px;
              width: 30px;
              background: rgba(19, 19, 24, 0.05);
}

.footer-hr {
              width: 872px;
              height: 1px;
              margin-top: 50px;
}

.copy-right {
              margin-top: 50px;
              margin-bottom: 110px;
              color: #131318;
              font-size: 16px;
              font-weight: 300;
}

.footer-description {
              color: #5A5A5D;
              font-size: 1rem;
              font-weight: 400;
              line-height: 26px;
}

.footer-heading .unexpected {
              color: #131318;
              font-size: 2rem;
              font-weight: 800;
}

.footer-heading .travel {
              color: #FF5400;
              font-size: 2rem;
              font-weight: 800;
}


/* Responsive section */

@media screen and (max-width:600px) {
              main{
                            margin: 10px;
              }
              header{
                            margin: 10px;
              }
              .banner{
                            width: 100%;
                            height: 100%;
              }
             
              nav > ul{
                            display: none;
              }
             

        .input-field-container{
             flex-direction: column;
        }
        .input-field-container input,
         select{
              height: 50px;
              width: auto;
         } 
         .input-field-container button {
              height: 50px;
              width: auto;
         }       

        .tour-img{
              width: 100%;
        }       
        .our-popular-tour{
              flex-direction: column;
        }

        .row , .row1{
              grid-template-columns: 1fr;
              height: auto;
              gap: 20px;
        }
        .destination-img h3{
              display: none;
        }

        .card-container{
              flex-direction: column;
              gap: 20px;
        }
        .card3{
              margin-top: 20px;
              margin-left: 0px;
              height: 100%;
              width: auto;
        }

        .news-letter {
              margin-top: 20px;
              gap: 20px;
              flex-direction: column;
        }
        .news-field{
              width: auto;
        }
        .news-letter img{
              width: 100%;              

        }
        .rotate p {
              left: 57px;
              left: 205px;    
        }

        footer{
              width: auto;
              height: 100%;
              padding: 20px;
              margin-left: 12px;
              margin-right: 12px;
              margin-bottom: 50px;
        }
        .footer-hr{
              width: auto;
        }
       
}